<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 ">
            <div class="row justify-content-md-center">
                <h1 class="col-6">{{header}}</h1>
            </div>
            <form  {{#if editor}} action='/edit-post/{{post.id}}' {{else}} action='/new-post' {{/if}} onsubmit='formCheck()' method='POST'>
                <input type="hidden" name='id' value='{{post.id}}'>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" {{#if post.title}} value="{{post.title}}" {{/if}}>
                </div>
                <div class="form-group">
                    <label for="title">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" placeholder="lorem-ipsum" {{#if post.slug}} value="{{post.slug}}" {{/if}}>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="10">{{post.content}}</textarea>
                </div>
                <div class="container">
                <div class="row justify-content-start">
                    <a data-toggle="modal" class='btn btn-secondary text-light' data-target="#modal"> Discard </a>
                    <button class='btn btn-secondary ml-2'>{{#if editor}} Edit {{else}} Publish {{/if}}</button>
                </div>
                {{#if error}}<div class="row" style="color: red;" id="errorMsg">{{error}}</div>{{/if}}
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Biztos, hogy megszakítja a folyamatot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
        <a class='btn btn-primary'{{#if editor}} href="/admin-post-list" {{else}} href="/admin" {{/if}}> Megszakítás </a>
      </div>
    </div>
  </div>
</div>

<script>

function formCheck() {
    let title = document.getElementById('title').value
    let content = document.getElementById('content').value
    let slug = document.getElementById('slug').value


        let errorMessage = document.getElementById('errorMsg')
        errorMessage.innerText = ''
        if (!title || !slug || !content) {
            if (!title) {
                errorMessage.innerText = 'Title '
            }

            if (!slug) {
                if (errorMessage.innerText) {
                    errorMessage.innerText += ' and slug '
                } else {
                    errorMessage.innerText = 'Slug'
                }
            }

            if (!content) {
                if (errorMessage.innerText) {
                    errorMessage.innerText += ' and content '
                } else {
                    errorMessage.innerText = 'Content'
                }
            }

            if (1) {
                errorMessage.innerText += ' are required '
            } else {
                errorMessage.innerText += 'is required'


            }
            event.preventDefault();
            
            return false
        }
        return true
    }


    
</script>